name: Deploy to minim via FTP

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: Upload to minim
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./  # ← ここが「.」になっていることを確認！
          server-dir: /web/ihara_minim_ne_jp/
